:root {
  --neutral-950: hsl(0, 0%, 0%);
  --neutral-0: hsl(0, 0%, 100%);
  --slate-900: hsl(202, 32%, 15%);
  --slate-850: hsl(203, 28%, 18%);
  --slate-800: hsl(199, 35%, 19%);
  --slate-300: hsl(198, 23%, 72%);
  --slate-100: hsl(197, 33%, 89%);
}