@layer colors {
  :root {
    --neutral-950: hsl(0, 0%, 0%);
    --neutral-0: hsl(0, 0%, 100%);
    --slate-900: hsl(202, 32%, 15%);
    --slate-850: hsl(203, 28%, 18%);
    --slate-800: hsl(199, 35%, 19%);
    --slate-300: hsl(198, 23%, 72%);
    --slate-100: hsl(197, 33%, 89%);
    --amber-400: hsl(39, 88%, 58%);
    --amber-300: hsl(39, 100%, 69%);
    --teal-400: hsl(178, 60%, 48%);
    --teal-300: hsl(178, 75%, 65%);
  }
}

@layer spacing {
  :root {
    --spacing-100: 0.5rem;
    --spacing-150: 0.75rem;
    --spacing-200: 1rem;
    --spacing-250: 1.25rem;
    --spacing-300: 1.5rem;
    --spacing-375: 1.875rem;
    --spacing-500: 2.5rem; 
  }
}

@layer radius {
  :root {
    --radius-4: 0.25rem;
    --radius-6: 0.375rem;
    --radius-10: 0.625rem;
    --radius-16: 1rem;
  }
}

/* Text presets */
/* .text-preset-1 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 2.5px;
} */

/* .text-preset-2 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 1.5px;
} */

/* .text-preset-3 {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 1.25px;
} */

.text-preset-4 {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 1px;
}

.text-preset-5 {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 0.9px;
}

/* .text-preset-5-bold {
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 0.9px;
} */

/* .text-preset-6 {
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: 0.75px;
} */

/* General styles */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: var(--slate-900);
}

button {
  font-family: inherit;
  cursor: pointer;
}

/* Class to hide content except for sreen readers */
.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

/* Container for content */
.container-main {
  height: 100vh;
  display: grid;
  /* place-items: center; */
}

.container-section {
  width: clamp(20.4375rem, calc(12.506rem + 33.842vw), 28.75rem);
}

/* Start Menu */
.start-menu {
  display: grid;
  place-self: center;
  gap: clamp(2rem, calc(1.523rem + 2.036vw), 2.5rem);
}

.start-logo {
  margin-inline: auto;
}

.pick-player-container {
  text-align: center;
  text-transform: uppercase;
  color: var(--slate-300);
  background-color: var(--slate-800); 
  padding-block: clamp(1.25rem, calc(1.739rem - 1.018vw), 1.5rem);
  padding-inline: var(--spacing-300);
  border-radius: var(--radius-16);
}

.pick-player-container h1 {
  margin-block-end: var(--spacing-300);
}

.pick-mark-container {
  margin-block-end: clamp(1rem, calc(0.523rem + 2.036vw), 1.5rem);
  background-color: var(--slate-900);
  border-radius: var(--radius-10);
  padding: var(--spacing-100);
  display: flex;
  gap: 2px;
}

.pick-mark-group {
  display: grid;
  place-items: center;
  width: 50%;
  height: 3.375rem;
  border-radius: var(--radius-10);
  overflow: hidden;
  cursor: pointer;
}

.pick-mark-group:has(input:focus) {
  outline: solid 2px var(--slate-300);           
}

.pick-mark-group label {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  cursor: pointer;
}

.pick-mark-group label svg {
  fill: var(--slate-300);
}

.pick-mark-group:has(input:checked) {
  background-color: var(--slate-300);
}

.pick-mark-group input:not(:checked) ~label:hover {
  background-color: var(--slate-850);
}

.pick-mark-group:has(input:checked) label svg {
  fill: var(--slate-900);
}

.btn-newgame {
  display: block;
  width: 100%;
  padding-block: clamp(1rem, calc(1.489rem - 1.018vw), 1.25rem);
  border-radius: var(--radius-16);
  outline-color: transparent;
  border: none;
  color: var(--slate-900);
  font-size: clamp(1.00rem, calc(0.761rem + 1.018vw), 1.25rem);
  font-weight: 700;
  line-height: 1.25;
  text-transform: uppercase;
  letter-spacing: clamp(0.06rem, calc(0.048rem + 0.064vw), 0.08rem);
  transition: background-color 150ms ease;
}

.btn-newgame:active {
  transform: scale(99%);
}

.btn-vs-cpu {
  margin-block-end: clamp(1.5rem, calc(0.761rem + 1.018vw), 2.5rem);
  background-color: var(--amber-400);
  -webkit-box-shadow: 0px 8px 0px 0px hsl(39, 83%, 44%); 
  box-shadow: 0px 8px 0px 0px hsl(39, 83%, 44%);
}

.btn-vs-cpu:hover,
.btn-vs-cpu:active {
  background-color: var(--amber-300);
}

.btn-vs-cpu:active {
  box-shadow: 0px 6px 0px 0px hsl(39, 83%, 44%);
}

.btn-vs-player {
  background-color: var(--teal-400);
  -webkit-box-shadow: 0px 8px 0px 0px hsl(178, 78%, 31%); 
  box-shadow: 0px 8px 0px 0px hsl(178, 78%, 31%);
}

.btn-vs-player:hover,
.btn-vs-player:active {
  background-color: var(--teal-300);
}

.btn-vs-player:active {
  box-shadow: 0px 6px 0px 0px hsl(178, 78%, 31%);
}

/* Game Board */
/* Game board header */
.game-board {
  max-height: 39rem;
  justify-self: center;
  padding-block-start: clamp(0rem, calc(2.931rem - 6.107vw), 1.5rem);
}

.game-board-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* margin-block-end: 3rem; */
  margin-block-end: clamp(1.25rem, calc(4.67rem - 7.125vw), 3rem);
}

.game-board-header div {
  display: grid;
  align-items: center;
}

.turn-display {
  width: clamp(6rem, calc(3.376rem + 11.196vw), 8.75rem);
  height: clamp(2.5rem, calc(1.784rem + 3.053vw), 3.25rem);
  background-color: var(--slate-800);
  color: var(--slate-300);
  border-radius: var(--radius-6);
  box-shadow: inset 0 -4px 0 hsl(201, 45%, 11%);
  justify-content: center;
}

.turn-display h2 {
  font-size: clamp(0.88rem, calc(0.756rem + 0.509vw), 1.00rem);
  display: flex;
  align-items: center;
  gap: clamp(0.5rem, calc(0.261rem + 1.018vw), 0.75rem);
  text-transform: uppercase;
}

.turn-display span {
  width: clamp(1rem, calc(0.761rem + 1.018vw), 1.25rem);
  height: clamp(1rem, calc(0.761rem + 1.018vw), 1.25rem);
}

.turn-display svg {
  width: clamp(1rem, calc(0.761rem + 1.018vw), 1.25rem);
  height: auto;
  fill: var(--slate-300);
}

.btn-restart {
  width: clamp(2.5rem, calc(1.784rem + 3.053vw), 3.25rem);
  height: clamp(2.5rem, calc(1.784rem + 3.053vw), 3.25rem);
  background-color: var(--slate-300);
  background-image: url("../assets/icon-restart.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: clamp(1rem, calc(0.639rem + 1.272vw), 1.25rem);
  border-radius: var(--radius-6);
  box-shadow: inset 0 -4px 0 hsl(199, 17%, 51%);
  border: 0;
  transition: background-color 150ms ease;
}

.btn-restart:hover {
  background-color: var(--slate-100);
}

.btn-restart:active {
  transform: scale(0.95);
  box-shadow: inset 0 -3px 0 hsl(199, 17%, 51%);
}

/* Game Board Tiles */
.game-board-tiles {
  height: clamp(20.5rem, calc(12.628rem + 33.588vw), 28.75rem);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: var(--spacing-250);
}

.tile {
  /* height: clamp(6rem, calc(3.376rem + 11.196vw), 8.75rem); */
  /* width: 100%; */
  height: 100%;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  background-color: var(--slate-800);
  border: 0;
  border-radius: var(--radius-10);
  box-shadow: 0 8px 0 #10212A;
  cursor: pointer; 
}

/* States for tiles when marked/played */
/* .turn-x .turn-o */

.tile-hover {
  display: none;
  /* width: 100%;
  height: 100%; */
}

.tile-hover svg,
.tile-played svg {
  width: clamp(2.5rem, calc(1.069rem + 6.107vw), 4rem);
  height: clamp(2.5rem, calc(1.069rem + 6.107vw), 4rem);
}

.turn-x .tile:hover:not(.tile-x):not(.tile-o) .tile-hover,
.turn-o .tile:hover:not(.tile-o):not(.tile-x) .tile-hover {
  display: inline;
}

.tile:active {
  transform: scale(0.95);
  box-shadow: 0 6px 0 #10212A;
}

.tile:disabled {
  transform: none;
}

/* Game board scores */
.game-board-scores {
  display: flex;
  gap: var(--spacing-250);
  margin-block-start: var(--spacing-250);
}

.score {
  height: clamp(4rem, calc(3.523rem + 2.036vw), 4.5rem);
  flex-grow: 1;
  flex-basis: 100%;
  display: grid;
  place-items: center;
  text-align: center;
  border-radius: clamp(0.625rem, calc(0.267rem + 1.527vw), 1rem);;
}

.score-head {
  font-size: clamp(0.75rem, calc(0.631rem + 0.509vw), 0.88rem);
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: 0.75px;
  text-transform: uppercase;
}

.score-count {
  font-size: clamp(1.25rem, calc(1.011rem + 1.018vw), 1.50rem);
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 1.25px;
}

.score-x {
  background-color: var(--teal-400);
}

.score-ties {
  background-color: var(--slate-300);
}

.score-o {
  background-color: var(--amber-400);
}

/* General dialog styles */
.dialog {
  min-width: 100%;
  height: clamp(14.25rem, calc(11.984rem + 9.669vw), 16.625rem);
  place-self: center;
  text-align: center;
  background-color: var(--slate-800);
  border: 0;
}

.dialog::backdrop {
  background-color: hsl(0, 0%, 0%, 50%);
}

.dialog-inner {
  height: 100%;
  display: grid;
  place-items: center;
}

.btn-dialog {
  padding: var(--spacing-200);
  color: var(--slate-900);
  text-transform: uppercase;
  border: 0;
  border-radius: var(--radius-16);
  transition: background-color 150ms ease;
}

.btn-dialog:active {
  transform: scale(0.95);
}

.dialog .btn-dialog:first-of-type {
  margin-inline-end: var(--spacing-200);
}

/* Restart dialog */
.restart-dialog h3 {
  margin-block-end: clamp(1.5rem, calc(1.142rem + 1.527vw), 1.875rem);
  color: var(--slate-300);
  font-size: clamp(1.50rem, calc(0.546rem + 4.071vw), 2.50rem);
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: clamp(0.09rem, calc(0.034rem + 0.254vw), 0.16rem);
  text-transform: uppercase;
}

.btn-dialog-cancel {
  background-color: var(--slate-300);
  box-shadow: inset 0 -4px 0 #6B8997;
}

.btn-dialog-cancel:active {
  box-shadow: inset 0 -3px 0 #6B8997;;
}

.btn-dialog-cancel:hover {
  background-color: var(--slate-100);
}

.btn-dialog-restart {
  background-color: var(--amber-400);
  box-shadow: inset 0 -4px 0 #CC8B13;
}

.btn-dialog-restart:hover {
  background-color: var(--amber-300);
}

.btn-dialog-restart:active {
  box-shadow: inset 0 -3px 0 #CC8B13;
}

/* States for which text/color to show */
/* .winner-x .winner-o .tied */

/* Next round dialog */
.next-round-dialog h3 {
  margin-block-end: var(--spacing-200);
  color: var(--slate-300);
  font-size: clamp(0.88rem, calc(0.756rem + 0.509vw), 1.00rem);
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.next-round-dialog svg {
  width: clamp(1.688rem, calc(-0.519rem + 9.415vw), 4rem);
  height: auto;
  margin-inline-end: var(--spacing-300);
}

.next-round-dialog p,
.round-tied h3 {
  margin-block-end: var(--spacing-300);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(1.50rem, calc(0.546rem + 4.071vw), 2.50rem);
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: clamp(0.094rem, calc(0.034rem + 0.254vw), 0.156rem);
  text-transform: uppercase;
}

/* Styles for winners */
/* Winner X */
/* .next-round-dialog.--winner-x svg {
  fill: var(--teal-400);
} */
.next-round-dialog .--winner-x {
  color: var(--teal-400);
}
/* Winner O */
/* .next-round-dialog.--winner-o svg {
  fill: var(--amber-400);
} */
.next-round-dialog .--winner-o {
  color: var(--amber-400);
}
/* Tied */
.next-round-dialog .--tied {
  color: var(--slate-300);
}


/* Global styles */
.hidden {
  display: none;
}

/* Media queries */
@media (min-width: 32rem) {
  .game-board {
    align-self: center;
  }
}

/* .tile buttons nog een sr-only class toevoegen om de positie van de cel weer te geven + tekst om te spelen */